:root {
    --main-bg-color: rgb(70, 70, 70);
    /* --main-bg-color: rgb(255,255,255); */
  }

/*Body*/

.fakeBodyBskt{
    background: #323141;
}

.containerTextBskt{
    display: grid;
    background: url("https://s.yimg.com/os/creatr-uploaded-images/2020-02/a5039ce0-4f8a-11ea-9f7f-0628e189edff") !important;
    color: white;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    align-items: center;
    justify-self: center;
    height: 450px;
    text-align: center;
} 



.BgTextBskt{
    display: grid;
    grid-column: 1/2;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);
    
}



/* Banner Principal */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Unbounded:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


.containerBannerBskt{
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    min-height: 400px;
    margin: 10px 0;
    /* background: linear-gradient(157deg, rgba(255,65,65,1) 0%, rgba(244,159,48,1) 40%, rgba(249,146,56,1) 65%, rgba(252,62,62,1) 100%); */
    background: linear-gradient(180deg, rgba(87,24,69,1) 0%, #c70039 88%);

    justify-content: center;
    overflow: hidden;
    text-align: center;

}

.containerInfoBannerBskt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;
    text-align: center;

}


.titleBannerBskt{
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    text-align: center;

}

.spanBannerBskt{
    padding-left: 20px;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-style: italic;
}

.buttonBannerBskt{
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    width: fit-content;
    margin: 1.2rem 0;
    padding: 6px 15px;
    border: none;
    border-radius: 6px;
    font-size: 25px;
    color: white;
    background-color: rgb(255, 108, 82);
}

.containerImgBannerBskt{
    display: flex;
    margin-top: -50px;
    height: 500px;
}

.imgBannerBskt{
    display: flex;
    height: 100%;
    object-fit: cover;
}

.txtDecorationNoneBsk{
    text-decoration: none !important;
}



    /* Carrousel */
    .titleCarrouselBskt{
        display: flex;
        margin: 7px 0 0 10px;
        font-size: 27px;
        color: #fb7648;
        font-family: 'Bebas Neue', cursive ;
    }

    .containerCarrouselBskt{
        width: 100%;
        margin-bottom: 12rem;
        height: max-content;
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .individualCardContainerBskt{
        scroll-snap-align: start;
    }

        /*Scroll*/
        .containerCarrouselBskt::-webkit-scrollbar{
            height: 7px;
        }

        .containerCarrouselBskt::-webkit-scrollbar-thumb{
            background: #ff3217;
            /* background-color: #db109b95; */
            border-radius: 12px;
        }


    /* Cards */
    .cardCarrouselBskt1{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background: linear-gradient(180deg, #5a1744 1%, rgb(157, 9, 44) 90%); */
        /* background: linear-gradient(147deg, #00005c 1%, rgba(20,0,37,1) 32%); */
        background: linear-gradient(120deg, rgba(0,0,92,1) 1%, rgba(20,0,37,1) 64%);

        margin: 10px 6px;

        height: 260px;
        border-radius: 5px;
        width: 300px;
        color: rgb(255, 255, 255);
    }
    .cardCarrouselBskt2{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(0deg, #f64934 1%, #d41438 100%);
        margin: 10px 6px;
        height: 260px;
        border-radius: 5px;
        width: 300px;
        color: rgb(255, 255, 255);
    }

    .containerImgCardCarrouselBskt{
        display: flex;
        height: 185px;
    }

    .imgCardCarrouselBskt{
        width: 250px;
        object-fit: cover;
    }
    .containerTextCardCarrouselBskt{
        height: 60px;
        justify-content: center;
        text-align: center;
        width: 90%;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.3rem;

    }







/* Generic Banner 1  */
.containerBannerAuxBskt{
    margin: 12px 0;
    display: flex;
    width: 100%;
    min-height: 400px;
    justify-content: center;
    background: linear-gradient(176deg, rgba(199,0,57,1) 18%, rgba(255,87,51,1) 100%);

}
.containerBannerAuxBsktInvertedInv{
    margin-top: 10px;
    display: flex;
    width: 100%;
    min-height: 400px;
    justify-content: center;
    flex-direction: row-reverse;
    /* background: linear-gradient(176deg, rgba(199,0,57,1) 18%, rgba(255,87,51,1) 100%); */
    background: linear-gradient(176deg, rgba(255,87,51,1) 18%, rgb(213, 165, 9) 100%);

}

.imgBannerAuxBskt{
    display: flex;
}

.imgBannerAuxBskt img{
    width: 50vw;
    /* margin-left: -1vw; */
    height: 400px;
    object-fit: cover;
}

.infoBannerAuxBskt{
    width: 40%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tittleBannerAuxBskt{
    font-family: 'Bebas Neue', cursive;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.contentBannerAuxBskt{
    display: flex;
    width: 100%;
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
    justify-content: center;
}

.containerBtnBannerAuxBskt{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btnBannerAuxBskt{
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    width: fit-content;
    padding: 6px 15px;
    border: none;
    border-radius: 6px;
    font-size: 25px;
}




/*Ni idea de porque rompen las dimensiones*/

@media (max-width:1465px) {
    .containerImgBannerBskt{
        /* transform: scale(0.8); */
    }
}


@media (max-width:1220px) {
    .imgTextBskt{
        padding: 0;
        visibility: hidden;
    }

    .infoTextBskt{
        width: 80%;
    }
}