:root {
    --main-bg-color: rgb(70, 70, 70);
    /* --main-bg-color: rgb(255,255,255); */
  }

/*Body*/

.fakeBodyBskt{
    background: rgb(77, 1, 36);
}



/* Banner Principal */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Unbounded:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


.containerBannerBskt{
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    min-height: 400px;
    /* background: linear-gradient(157deg, rgba(255,65,65,1) 0%, rgba(244,159,48,1) 40%, rgba(249,146,56,1) 65%, rgba(252,62,62,1) 100%); */
    background: linear-gradient(180deg, rgba(87,24,69,1) 0%, #c70039 88%);

    justify-content: center;
    overflow: hidden;
}

.containerInfoBannerBskt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;
}


.titleBannerBskt{
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}

.spanBannerBskt{
    padding-left: 20px;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-style: italic;
}

.buttonBannerBskt{
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    width: fit-content;
    margin: 1.2rem 0;
    padding: 6px 15px;
    border: none;
    border-radius: 6px;
    font-size: 25px;
    color: white;
    background-color: rgb(255, 108, 82);
}

.containerImgBannerBskt{
    display: flex;
    margin-top: -50px;
    height: 500px;
}

.imgBannerBskt{
    display: flex;
    height: 100%;
    object-fit: cover;
}



    /* Carrousel */
    .titleCarrouselBskt{
        display: flex;
        margin: 7px 0 0 10px;
        font-size: 27px;
        color: azure;
        font-family: 'Bebas Neue', cursive ;
    }

    .containerCarrouselBskt{
        width: 100%;
        height: max-content;
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .individualCardContainerBskt{
        scroll-snap-align: start;
    }

        /*Scroll*/
        .containerCarrouselBskt::-webkit-scrollbar{
            height: 7px;
        }

        .containerCarrouselBskt::-webkit-scrollbar-thumb{
            background: linear-gradient(176deg, rgba(144,12,62,1) 18%, rgba(199,0,57,1) 100%);
            /* background-color: #db109b95; */
            border-radius: 12px;
        }


    /* Cards */
    .cardCarrouselBskt1{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, #5a1744 1%, rgb(157, 9, 44) 90%);
        margin: 10px 6px;
        height: 260px;
        border-radius: 5px;
        width: 300px;
        color: rgb(255, 255, 255);
    }
    .cardCarrouselBskt2{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(0deg, #f64934 1%, #d41438 100%);
        margin: 10px 6px;
        height: 260px;
        border-radius: 5px;
        width: 300px;
        color: rgb(255, 255, 255);
    }

    .containerImgCardCarrouselBskt{
        display: flex;
        height: 185px;
    }

    .imgCardCarrouselBskt{
        width: 250px;
        object-fit: cover;
    }
    .containerTextCardCarrouselBskt{
        height: 60px;
        justify-content: center;
        text-align: center;
        width: 90%;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.3rem;

    }

.prueba45{

}
/* Text */
.containerTextBskt{
    justify-self: center;
    min-height:250px;
    width: 100vw;
    /* background: linear-gradient(55deg, rgb(194, 35, 175) 0%, rgba(48,75,244,1) 40%, rgba(153,56,249,1) 65%, rgb(246, 35, 35) 97%) ; */
    /* background-color: black; */
    /* background: linear-gradient(176deg, rgba(144,12,62,1) 18%, rgba(199,0,57,1) 100%); */
    background: linear-gradient(0deg, rgba(87,24,69,1) 0%, rgba(144,12,62,1) 88%);
    

    display: flex;
    align-items: center;
    justify-content: center;
}
.imgTextBskt{
    display: flex;
    min-height: 300px;
    padding: 15rem 17rem;
    background-position: center;
    background-size: cover;
}

.infoTextBskt{
    padding-left: 20px;
    width: 40%;
    display: flex;
}
.containerTextBskth3{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive ;
    font-size: 2rem;    
    color: azure;
}
.containerTextBsktp{
    text-align: center;
    width: 100%;
    font-size: 1.1rem;
    color: azure;
    font-style: italic;
}

.containerTextBsktp span{
    color: #1eff00
}





/* Generic Banner 1  */
.containerBannerAuxBskt{
    margin-top: 10px;
    display: flex;
    width: 100%;
    min-height: 400px;
    justify-content: center;
    background: linear-gradient(176deg, rgba(199,0,57,1) 18%, rgba(255,87,51,1) 100%);

}
.containerBannerAuxBsktInvertedInv{
    margin-top: 10px;
    display: flex;
    width: 100%;
    min-height: 400px;
    justify-content: center;
    flex-direction: row-reverse;
    /* background: linear-gradient(176deg, rgba(199,0,57,1) 18%, rgba(255,87,51,1) 100%); */
    background: linear-gradient(176deg, rgba(255,87,51,1) 18%, rgb(213, 165, 9) 100%);

}

.imgBannerAuxBskt{
    display: flex;
}

.imgBannerAuxBskt img{
    width: 50vw;
    /* margin-left: -1vw; */
    height: 400px;
    object-fit: cover;
}

.infoBannerAuxBskt{
    width: 40%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tittleBannerAuxBskt{
    font-family: 'Bebas Neue', cursive;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.contentBannerAuxBskt{
    display: flex;
    width: 100%;
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
    justify-content: center;
}

.containerBtnBannerAuxBskt{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btnBannerAuxBskt{
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    width: fit-content;
    padding: 6px 15px;
    border: none;
    border-radius: 6px;
    font-size: 25px;
}




/*Ni idea de porque rompen las dimensiones*/

@media (max-width:1465px) {
    .containerImgBannerBskt{
        /* transform: scale(0.8); */
    }
}


@media (max-width:1220px) {
    .imgTextBskt{
        padding: 0;
        visibility: hidden;
    }

    .infoTextBskt{
        width: 80%;
    }
}