.paginaGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20% 60% 20%;
  color: #fff;
  background-color: brown;
  height: 100vh;
}

.naav {
  display: grid;
  grid-column: 1/4;
  grid-row: 1/2;
  height: 100%;
  background-color: black;
  align-items: center;
  justify-items: center;
}

.contenido {
  display: grid;
  grid-column: 1/4;
  grid-row: 2/3;
  background-color: beige;
  color: black;
  align-items: center;
  justify-items: center;
}

.SegundaGrid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-row: 33% 33% 33%;
  background-color: aquamarine;
  width: 75vw;
}

.titulo {
  grid-column: 1/5;
  grid-row: 3/4;
}

.subcontenido {
  grid-column: 1/5;
  grid-row: 2/3;
}

.id {
  grid-column: 1/5;
  grid-row: 1/2;
}

.foooter {
  display: grid;
  grid-column: 1/4;
  grid-row: 3/4;
  background-color: blue;
  align-items: center;
  justify-items: center;
}

@media (min-width: 768px) {
  .SegundaGrid {
    width: 100vw;
  }
}

@media (min-width: 1024px) {
  .foooter {
    display: none;
  }
}

@media (min-width: 1920px) {
  .SegundaGrid {
    background-color: darkblue;
  }
}
