.paginaGrid {
    color: white;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-rows: 20% 70% 10% ;
    
}

.naav {
    background: aqua;

}



.foooter{
    background: darkmagenta;
    grid-row: end;
}


.contenido {
    display: grid;
    background: blue;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.SegundaGrid {
    background:brown;
    display: grid;
    grid-template-columns: 10% 10% 20% 60%;
    grid-template-rows: repeat(2, auto);
}

.titulo {
    background:coral;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 1/2;
}

.username{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 2/3;
}

.stars {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-column: 3/4;
}

.comments {
    background: red;
    grid-row: 2/3;
    grid-column: 1/5;
}

.id {
    background: darkolivegreen;
    display: none;
    grid-column: 1/2;
}

