.card {
    display: flex;
    background: rgb(28, 28, 28) !important;
    border-radius: 3rem !important;
    box-shadow: -0.1em 1em 1.5em rgba(0, 0, 0, 0.5) !important;
    max-height: 50rem;
    margin: 1rem 2rem;
    z-index: 1;
    width: 25rem !important;
}

.brand {
    text-transform: uppercase;
    color: red;

}


.cardImage {
    /* transform: rotate(30deg); */
    margin-top: -5rem;
    width: 100%;
    margin-bottom: -3rem;
}

.text-gold {
    color: gold;
}

.fav {
    color: gold;
    font-size: 3rem;
}

.primary {
    background: transparent !important;
}

.btnFav {
    z-index: 1;
}

.btn-custom {
    color: yellow !important;
    background-color: transparent !important;
}

.btn-custom2 {
    color: black !important;
    background-color: yellow !important;
}

.CardBody1 {
    margin-right: 1.1rem !important;
}

.CardBody1:hover {
    cursor: default;
}