@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Unbounded:wght@800&display=swap');

.containerCardCart{
    height: 200px;
    width: 1200px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    align-items: center;
    background: rgb(197, 197, 197);
    border: solid  black 1px;
    font-family: 'Bebas Neue', cursive;
}

.fontSizeCardCart{
    color: rgb(61, 61, 61);
    font-size: 22px;
}

.controlCardCart{

    width: 100px
}

.imgControlCardCart{
    height: 30px;
    margin-right: 20px;
}

.imgControlCardCart:hover{
    cursor: pointer;
}


.imgCardCart{
    height: 100%;
    margin-right: 20px ;
}