@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Unbounded:wght@800&display=swap");

.cardCart {
  height: 200px;
  width: 1200px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  align-items: center;
  background: rgb(48, 54, 68);
  background: linear-gradient(
    121deg,
    rgba(48, 54, 68, 1) 0%,
    rgba(4, 4, 4, 1) 85%,
    rgba(47, 55, 68, 1) 100%,
    rgba(47, 55, 68, 1) 100%
  );
  border: solid black 1px;
  font-family: "Bebas Neue", cursive;
}

.fontSizeCardCart {
  color: #fb7849;
  font-size: 22px;
}

.controlCardCart {
  width: 100px;
}

.imgControlCardCart {
  height: 30px;
  margin-right: 20px;
  display: flex;
  border: none;
  border-radius: 50%;
  font-size: 1.3rem;
  color: white;
  padding: 5px;
  background: #652f1c;
}

.imgControlCardCart:hover {
  cursor: pointer;
}

.imgCardCart {
  height: 100%;
  margin-right: 20px;
}
.changeDataLabel {
  font-size: 16px;
  color: #303644;
  font-family: Helvetica;
  text-decoration: underline;
}

.changeDataLabel:hover {
  cursor: pointer;
}

.modifyCount {
  cursor: pointer;
  color:white;
}

.span-white {
  color: white;
}

.link-cardCart-name{
  text-decoration: none;
  color:white;
}
.link-cardCart-name:hover{
  color: #fd8d64;
  transition:0.8s;
}

.btn-delete-cartCard {
  background: transparent;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 7px;
  width: fit-content;
  padding: 6px;
  font-size: 1.2rem;
  align-items: center;
  justify-self: center;
  background: #a54d2d;
  border: none;
  border-radius: 50%;
  display: flex;
  padding: 6px;
}