.carr-two {
    display: flex;
    background-color: rgb(0, 0, 0); 
    width: 100%;    
    margin-bottom: 10rem;

}
.cont-two {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    width: 100%;    
    
}
.carr-textTwo {
    color: rgb(255, 255, 255);
}

.carr-txt2{
    display: flex;
    color:  rgb(255, 255, 255);
    margin-left: 30px;
    font-size: 1.8rem;
    font-family: Bebas Neue, cursive;
    margin-top: 7px;
    margin-bottom: -3px;
}

.carr-imgTwo{
    width: 250px;
    height: 400px;
}