.noProductsText {
  display: flex;
  color: rgb(255, 153, 0);
  margin-left: 30px;
  font-size: 4em;
  font-family: Bebas Neue, cursive;
  margin-top: 7px;
  margin-bottom: 2rem;
  text-align: center;
}
.CarrouselCartCards{
  scroll-snap-type: x mandatory ;
}
.noProductsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
}

.noProductsBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noProductsTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartEmptyBackBTN {
  font-family: Bebas Neue, cursive;
  margin-bottom: 0;
}

@media (min-height: 720px) {
  .mainView {
    min-height: 95vh;
  }
}

.total-amount-cardCart{
  color: greenyellow;

}

.lineal-bar{
  background: #694bff;
}

.container-cart-card-trolley{
  background: #333242 ;
  
}