.customTrash {
    background: white !important;
    border: 1px solid rgb(210, 210, 210) !important;
    font-size: 1rem !important;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 49px;
    height: 37px;
    margin-top: 5px;
    margin-left: 2px;
}