@font-face {
    font-family: NikeFutura;
    src: url(../utils/fonts/Futura.otf);
}

@font-face {
    font-family: HelveticaNeue;
    src: url(../utils/fonts/HelveticaNeue.otf);
}

.gridGeneralDetails{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, auto);
    height: 100%;
    width: 100%;
    background-color: #333242;
    gap: 20px;
}

.containerNavDetails{
    display: grid;
    grid-column: 1/3;
    grid-row: 1/2;
    justify-items: center;
    align-items: center;
    overflow-x: hidden;
}

.detailsContainerCard{
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-items: end;
    margin-left: 1rem;
}

.detailsContainer{
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-items: center;
    align-items: center;
}

.detailsContainerInfo{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-items: start;
    align-self: center;
    background-color: #362451 ;
    color: white;
    justify-items: center ;
    border-radius: 40px;
    margin: 1rem;
}

.reviewsContainerDetails{
    grid-column: 1/3;
    grid-row: 3/4;
    align-items: center;
    justify-items: center;
    width: 80%;
    justify-self: center;
    gap: 20px;
}

.subtittleDescriptionDetails{
    color: #39FF88;
    font-weight: 500;
    display: flex;
    justify-content: start;
    margin-left: 1.2rem;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.ContentDescriptionDetails{
    background-color: rgba(240, 248, 255, 0.317);
    border-radius: 1rem;
    color: white;
    font-size: 1.1rem;
    margin: 0 1rem;
}

.ContentDescriptionDetails div{
    padding: .5rem 1rem;
}

.ContentDescriptionDetails div p{
    margin: 0;
}




.ContainerSizes{
    background-color: rgba(240, 248, 255, 0.317);
    margin: 0 1rem;
    border-radius: 1rem;

}

.ContainerSizes .auxContainerSize{
    padding: 1rem .5rem;
    display: grid;
    gap: 10px;
    border-radius: 1rem;
    grid-template-columns: repeat(10,1fr);
    justify-items: center;
    align-items: center;
    color: black;
    }


.containerSize{
    text-align: center;
    background-color: #cdcdcd;
    width: 50px;
    cursor: pointer;
    border-radius: 8px;
}


.IndividualSize{
    display: flex;
    width: 50px;
}

.selectedSize{
    background-color: rgb(157, 138, 255);
    color: white;
}


.StarContainerDetails{
    margin-left: .5rem;
    width: 100px;
    background-color: rgba(240, 248, 255, 0.317);
    border-radius: 8px;

}

.StarContainerDetails .StarContainer {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 4px;
}

.buttonBackDetails{
    display: grid;
    grid-column: 1/3;
    justify-items: center;
    align-items: center;
}










/*Card*/

.DetailsContainerCard{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
}








