/* .filterMargin {
  margin-left: 103rem !important;
  position: fixed;

} */

.filterMargin {
  margin-left: 102rem !important;
  padding-top: 5px;
  position: absolute;
}
.btnCard1 {
  background: linear-gradient(85.99deg, #fc964c 7.66%, #cb33a0 99.12%);
  border-radius: 7px;
  color: white;
  font-size: 30px;
  width: 110px;
  height: 35px;
  border: none;
  animation-duration: 8000ms;
  /* arreglar animation */
  color: white !important;
  font-size: 1.2rem;
}
