.containerTodo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.first {
  display: flex;
  padding: 2rem;
  background-color: #212529;
}

.container {
  position: relative;
}

.footer {
  position: absolute !important;
}

.lastDiv {
  text-align: center;
}

.aboutUS {
  font-size: 1.3vh;
}
