.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 450px;
    background-color: black;
    color: #fff;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
    opacity: 0.8;
}

p.danger {
    color: red;
    font-size: 12px;
}

input.danger {
    border: 2px solid red;
}

.confirm {
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    color: #edede9;
}

.button {
    background: #1e9bff;
    color: #edede9;
    box-shadow: 0 0 35px #0306b8;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 1.5em;
    padding: .3em 1.5em;
    border: none;
    border-radius: .5em;
}

.button:hover {
    background: #030585;
    color: #edede9;
    box-shadow: 0 0 35px #03045e;
}

.button:disabled {
    background-color: black;
    box-shadow: 0 0 35px #ff1867;
}

.button:disabled:hover {
    background: #0306b8;
    color: #edede9;
    box-shadow: 0 0 35px #ff1867;
}