@font-face {
  font-family: Nulshock;
  src: url(../utils/fonts/nulshock.otf);
}

@font-face {
  font-family: IntegralCF;
  src: url(../utils/fonts/IntegralCF-Regular.otf);
}

.WBanner3-container {
  background: url(../utils/images/banner2back.jpg);
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}

.WBanner3-section1 {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.WBanner3-section2 {
  display: grid;
  grid-column: 1/2;
  grid-row: 3/4;
  justify-items: center;
  align-items: center;
}

.WBanner3-section3 {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.WBanner3-text1 {
  font-family: Nulshock;
  font-size: 2rem;
}

.WBanner3-text2 {
  font-family: Nulshock;
  font-size: 2rem;
}

.WBanner3-stroke {
  filter: drop-shadow(0 0 1px #000) drop-shadow(1px 1px 0 #000)
    drop-shadow(-1px 1px 0 #000) drop-shadow(1px -1px 0 #000);
}

.WBanner3-iframe {
  border-radius: 5%;
  height: 500px;
  width: 360px;
}

.WBanner3-button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 2px solid black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-family: IntegralCF;
  margin-bottom: 2rem;
}

.WBanner3-button:hover {
  background-color: #ffff00;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: black;
  transform: translateY(-7px);
}

.WBanner3-button:active {
  transform: translateY(-1px);
}

@media (min-width: 768px) {
  .WBanner3-iframe {
    width: 560px;
  }
}

@media (min-width: 768px) {
  .WBanner3-iframe {
    width: 760px;
  }
}
