@font-face {
  font-family: Nulshock;
  src: url(../utils/fonts/nulshock.otf);
}

.HWT1-container {
  display: grid !important;
  justify-items: center;
  align-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-top: 10rem !important;
}

.HWT1-text {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  color: yellow;
  font-family: Nulshock;
  justify-items: center;
  align-items: center;
  text-align: center;
}
