@font-face {
  font-family: Roboto;
  src: url(../utils/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: IntegralCF;
  src: url(../utils/fonts/IntegralCF-Regular.otf);
}

.HWT2-container {
  background: yellow;
  color: black;
  margin-top: 10rem !important;
}

.HWT2-container {
  background: greenyellow;
}

.HWT2 {
  padding: 2rem 6rem;
}

.HWT2-p1 {
  font-family: IntegralCF;
  text-transform: uppercase;
}

.HWT2-p2 {
  font-family: Roboto;
  font-style: italic;
  /* color: rgb(98, 97, 97); */
}

@media (min-width: 768px) {
  .HWT2-p1 {
    font-size: 1.6rem;
  }
  .HWT2-p2 {
    font-size: 1.3rem;
  }
}
