@font-face {
  font-family: Nulshock;
  src: url(../utils/fonts/nulshock.otf);
}

.HWCC2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    318deg,
    rgba(0, 168, 209, 1) 0%,
    rgba(78, 215, 249, 1) 52%,
    rgba(0, 168, 209, 1) 100%
  );
  margin: 6px 6px;
  height: 300px;
  border-radius: 15px;
  width: 300px;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 14%);
}

.HWCC2-container:hover {
  opacity: 0.8;
  transform: scaleX(1.05);
  transition: 0.7s;
}

.HWCC2-image {
  width: 200px;
  transform: scaleX(-1) rotate(30deg);
  margin-right: 1rem;
}

.HWCC2-sectioBottom {
  background: orangered;
  width: 300px;
  max-width: 300px;
  margin-top: -1rem;
  clip-path: polygon(100% 0, 100% 65%, 77% 100%, 0 100%, 0 0);
}

.HWCC2-name {
  font-family: Nulshock;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.HWCC2-price {
  font-family: Nulshock;
  color: yellow;
  margin-top: -1rem;
}
