@font-face {
  font-family: Roboto;
  src: url(../utils/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: IntegralCF;
  src: url(../utils/fonts/IntegralCF-Regular.otf);
}

@font-face {
  font-family: Nulshock;
  src: url(../utils/fonts/nulshock.otf);
}

.Women-b1-container {
  background: url(../utils/images/womenBanner1.jpeg) !important;
  background-attachment: fixed !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}

.Women-b1-texts {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-items: center;
  text-align: center;
  align-items: center;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.Women-b1-images {
  justify-items: center;
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.Women-b1-image1 {
  transform: rotate(90deg) scaleY(-1);
}

.Women-b1-ofert {
  display: grid;
  grid-column: 1/2;
  grid-row: 3/4;
  justify-items: center;
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.Women-b1-text1 {
  font-family: IntegralCF;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: cyan;
}

.Women-b1-text2 {
  font-family: Roboto;
  padding: 0 3rem;
  font-size: 1.5rem;
}

.Women-b1-title {
  font-family: IntegralCF;
  font-size: 3.3rem;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}

.hov:hover {
  transform: rotate(155deg) scaleY(-1) !important;
  transition: 3s;
}

.Women-b1-ofertText {
  font-family: Nulshock;
  font-size: 2.5rem;
}

.Women-b1-ofertPrice {
  font-family: Nulshock;
  font-size: 5rem;
  color: greenyellow;
}

.Women-b1-button {
  background: white;
  color: black;
  font-family: IntegralCF;
}

.Women-b1-button:hover {
  background: black;
  color: white;
}

.Women-b1-stroke {
  filter: drop-shadow(0 0 1px #000) drop-shadow(1px 1px 0 #000)
    drop-shadow(-1px 1px 0 #000) drop-shadow(1px -1px 0 #000);
}
.Women-b1-stroke2 {
  filter: drop-shadow(0 0 1px rgb(72, 72, 72))
    drop-shadow(0px 0px 0 rgb(72, 72, 72))
    drop-shadow(0px 1px 0 rgb(72, 72, 72))
    drop-shadow(0px 0px 0 rgb(72, 72, 72));
}

.fancy {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: white;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: cyan;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: cyan;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: cyan;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: black;
  background: #ee601e;
}

.fancy:hover::before {
  width: 0.9375rem;
  background: black;
}

.fancy:hover .text {
  color: black;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

.text-cyan {
  color: cyan;
}

@media (min-width: 768px) {
  .Women-b1-texts {
    margin-top: 10rem;
  }
  .Women-b1-text2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .Women-b1-text1 {
    margin-top: 4rem !important;
    font-size: 2.5rem;
  }
  .Women-b1-text2 {
    font-size: 1.5rem;
  }
  .Women-b1-title {
    font-size: 3.5rem;
  }
}

@media (min-width: 1280px) {
  .Women-b1-container {
    display: grid;
    grid-template-columns: 40% 25% 25%;
  }

  .Women-b1-texts {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/3;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
  }

  .Women-b1-images {
    display: grid;
    grid-column: 2/3;
    margin-top: 5rem;
  }

  .Women-b1-ofert {
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: -1rem;
  }

  .Women-b1-ofertPrice {
    margin-top: -15rem;
  }

  .fancyLink {
    margin-top: -20rem;
  }
}

@media (min-width: 1920px) {
  .Women-b1-container {
    display: grid;
    grid-template-columns: 40% 25% 25%;
  }
  .Women-b1-texts {
    margin-top: -6rem;
  }

  .Women-b1-text2 {
    margin-top: -20rem;
  }

  .Women-b1-images {
    margin-top: 9rem;
  }

  .Women-b1-ofert {
    margin-top: 2rem;
  }

  .Women-b1-ofertPrice {
    margin-top: -15rem;
  }

  .fancyLink {
    margin-top: -20rem;
  }
}
