@font-face {
  font-family: IntegralCF;
  src: url(../utils/fonts/IntegralCF-Regular.otf);
}

@font-face {
  font-family: Nulshock;
  src: url(../utils/fonts/nulshock.otf);
}

.WBanner2-container {
  background: url(../utils/images/banner3back.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

.WBanner2-section1 {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-bottom: 2rem;
  justify-items: center;
  align-items: center;
  text-align: center;

  background: orangered;
  padding: 1rem;
  clip-path: polygon(100% 0, 100% 77%, 82% 100%, 0 100%, 0 0);
}

.WBanner2-section2 {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;

  background: url(../utils/images/banner2image.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 60vh;
  width: 100%;
  clip-path: polygon(14% 0, 100% 0, 100% 79%, 57% 100%, 0 100%, 0 18%);
}

.WBanner2-section2:hover {
  transform: scale(1.05);
  transition: 1s;
}

.WBanner2-shadow {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.WBanner2-name {
  font-size: 3rem;
  width: 20rem;
  font-family: IntegralCF;
}

.WBanner2-price {
  font-size: 3rem;
  font-family: Nulshock;
}

.box {
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  transition: all 0.8s;
  cursor: pointer;
  position: relative;
  background: rgb(13, 154, 193);
  overflow: hidden;
  font-family: IntegralCF;
}

.box:before {
  content: "I";
  position: absolute;
  top: 0;
  background: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.4s;
}

.box:nth-child(2)::before {
  transform: translateY(-100%);
  content: "N";
}

.box:nth-child(3)::before {
  content: "F";
}

.box:nth-child(4)::before {
  transform: translateY(-100%);
  content: "O";
}

.WBanner2-button:hover .box:before {
  transform: translateY(0);
}

@media (min-width: 768px) {
  .WBanner2-section2 {
    width: 70vw;
  }
}

@media (min-width: 1280px) {
  .WBanner2-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 90vh;
  }

  .WBanner2-section1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 400px;
    width: 350px;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-top: 8rem;
    margin-left: -23rem;
  }

  .WBanner2-section2 {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    height: 700px;
    width: 400px;
    margin-top: 2rem;
    margin-right: -23rem;
  }
}

@media (min-width: 1920px) {
  .WBanner2-container {
    height: 90vh;
  }

  .WBanner2-section1 {
    height: 400px;
    width: 350px;

    margin-top: 20rem;
    margin-left: -35rem;
  }

  .WBanner2-section2 {
    height: 900px;
    width: 800px;
    margin-top: 2rem;
    margin-right: -40rem;
  }
}
