@font-face {
  font-family: Nulshock;
  src: url(../utils/fonts/nulshock.otf);
}

.HWT1-container {
  /* background: yellow; */
  color: yellow;
  font-family: Nulshock;
  margin-top: 10rem !important;
}
