@font-face {
  font-family: Nulshock;
  src: url(../utils/fonts/nulshock.otf);
}

@font-face {
  font-family: IntegralCF;
  src: url(../utils/fonts/IntegralCF-Regular.otf);
}

.HWB3-container {
  background: url(../utils/images/banner2back.jpg);
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -8px !important;
}

.HWB3 {
  height: 75vh;
}

.HWB3-section1,
.HWB3-section2,
.HWB3-section3 {
  width: 30%;
}

.HWB3-text1,
.HWB3-text2 {
  font-family: Nulshock;
  font-size: 3rem;
}

.HWB3-stroke {
  filter: drop-shadow(0 0 1px #000) drop-shadow(1px 1px 0 #000)
    drop-shadow(-1px 1px 0 #000) drop-shadow(1px -1px 0 #000);
}

.HWB3-iframe {
  border-radius: 5%;
}

.HWB3-button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 2px solid black;
  /* border-radius: 45px; */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-family: IntegralCF;
}

.HWB3-button:hover {
  background-color: #ffff00;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: black;
  transform: translateY(-7px);
}

.HWB3-button:active {
  transform: translateY(-1px);
}
