@font-face {
  font-family: Nulshock;
  src: url(../utils/fonts/nulshock.otf);
}

.HWCC1-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    318deg,
    rgba(208, 122, 185, 1) 0%,
    rgba(229, 160, 212, 1) 52%,
    rgba(208, 122, 185, 1) 100%
  );
  margin: 6px 6px;
  height: 180px;
  border-radius: 15px;
  width: 300px;
}

.HWCC1-container:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.7s;
}

.HWCC1-image {
  width: 200px;
  transform: rotate(30deg);
  margin-bottom: 10px;
}

.HWCC1-name {
  font-family: Nulshock;
  margin-top: -2rem;
  text-align: center;
  margin-left: 2rem;
}
