.customContainer {
  background-color: #bababa;
  border-radius: 20px;
}
.img1 {
  height: 6em;
  width: 6em;
  margin: auto;
}
.img2 {
  height: 3.5em;
  width: 3.5em;
}
/* .obj1{
    background-color: rebeccapurple;
} */
.obj2 {
  /* background-color: red; */
  align-items: center;
}
.obj3 {
  align-items: center;
}
.customBtn {
  margin: auto;
}
