:root{
  --main-bg-color: #212529;
}


@font-face {
  font-family: NexaSlabThin;
  src: url(../../src/utils/fonts/NexaSlabThin.ttf);
}

@media screen and (max-width: 760px) {
  .logo {
    position: absolute;
    visibility: hidden;
    width:0 ;
  }
}

.brandNav{
  font-family: NexaSlabThin;
  color: white;
  display: flex;
  font-size: 2.2rem;
  height: 100%;
  align-items: center;
}
.brandNav:hover{
  cursor: pointer;
  
}

.navToggle{
  color: var(--main-bg-color) !important;
}

.navToggle:hover{
  color: transparent !important;
}

.cartNav{
  font-size: 2rem;
  color: aliceblue !important;
  margin-left: -15px;
}

.linkNav{
  color: white;
  margin: 0 5px;
}

.accountNav{
  font-size: 1.5rem;
  color: aliceblue !important;
}

.ContainerNavImg{
  height: 100%;
  position: relative;
}

.NavImg{
  display: flex !important;
  height: 100%;
  text-decoration: none !important;
  align-items: center;
}

.ContainerGeneralNav{
  display: flex;
  height: 60px;
  width: 100vw !important;
}

.navBarContainerGeneral{
  justify-content: space-evenly ;
  display: flex;
  width: 100%;
  background-color: var(--main-bg-color) !important;
}

/* .ContainerGeneralNav:hover{
  cursor: pointer;
} */


/* .nav-link {
    display: hidden;
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
} */