:root {
  --main-bg-color: #212529;
}

@font-face {
  font-family: NexaSlabThin;
  src: url(../../src/utils/fonts/NexaSlabThin.ttf);
}

.navBarContainerGeneral {
  display: flex;
  width: 100%;
  background-color: var(--main-bg-color) !important;
  height: 10vh;
}


.brandNav {
  font-family: NexaSlabThin;
  color: white;
  display: flex;
  font-size: 2.2rem;
  height: 100%;
  align-items: center;
}
.brandNav:hover {
  cursor: pointer;
}
.navToggle {
  padding: 0 !important;
}
.navToggle::after {
  color: var(--main-bg-color) !important;
  width: 0;
  border: none !important;
}

.navToggle:hover {
  color: transparent !important;
}

.cartNav {
  font-size: 2rem;
  color: aliceblue !important;
  margin-left: 4px;
}

.linkNav {
  color: white;
  margin: 0 7px;
}

.linkNav:hover {
  color: rgb(216, 216, 216);
  margin: 0 7px;
}

.noneDecoration {
  text-decoration: none;
}

.accountNav {
  font-size: 1.5rem;
  color: aliceblue !important;
}

.ContainerNavImg {
  height: 100%;
  position: relative;
}

.NavImg {
  display: flex !important;
  height: 100%;
  text-decoration: none !important;
  align-items: center;
}

.ContainerGeneralNav {
  display: flex;
  height: 60px;
  width: 100vw !important;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 760px) {
  .logo {
    position: absolute;
    visibility: hidden;
    width: 0;
  }
}

@media screen and (max-width: 600px) {
  .linksAuxNav{
    display: none;
  }
  .noneDecoration{
    display: none;
  }
  .ContainerGeneralNav{
    justify-content: space-between;
  }
  .cartAndAccount{
    margin-right: 1rem;
    justify-self: end;
  }
  .SearchNavBar{
    margin: auto;
  }
}


/* .ContainerGeneralNav:hover{
  cursor: pointer;
} */

/* .nav-link {
    display: hidden;
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
} */


.home-navbar{
  display: flex;
  margin: auto;
  align-self: center;
  align-items: center;
  align-content: center;
  height: 100%;
  margin-right: 2rem;
  font-size: 1.65rem;
  filter: invert(75%);
}