.containerCardCart {
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(27, 31, 101, 1) 100%, rgba(2, 0, 36, 1) 100%);
    border-radius: 20px;
}

.text-green {
    color: greenyellow;
}

.bg-line {
    background: rgb(194, 5, 232);
}

.vr {
    height: 100px;
    width: .5vw;
    border-width: 0;
    background-color: rgb(153, 255, 0) !important;
    color: greenyellow !important;
}

.text-yellow {
    color: yellow;
}

.text-total {
    color: rgb(194, 5, 232);
    border-bottom: 1px solid rgb(194, 5, 232);
}

.marg {
    margin-left: 8rem;
}

.div2 {
    background: transparent;
}