.pagination > li > a {
  background: linear-gradient(
    16deg,
    rgba(252, 150, 76, 1) 6%,
    rgba(203, 51, 160, 1) 100%
  ) !important;
  color: white;
  --bs-pagination-border-width: 0px;
  --bs-pagination-disabled-bg: rgb(43, 43, 43) !important;
}

.disabled > .page-link,
.page-link.disabled {
  color: white !important;
  pointer-events: none;
  background: linear-gradient(
    16deg,
    rgba(252, 150, 76, 1) 6%,
    rgba(203, 51, 160, 1) 100%
  ) !important;
  border-color: none;
}

.page-link {
  border: none !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: white;
  background-color: rgb(43, 43, 43);
  border-color: #ddd;
}

.active > .page-link,
.page-link.active {
  background: rgb(43, 43, 43) !important;
  border-color: white !important;
}

.filtersInPaged {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 1rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .filtersInPaged {
    margin-right: 13.5rem;
  }
}

@media (min-width: 1024px) {
  .filtersInPaged {
    margin-bottom: -2.2rem;
  }
}

/* @media (min-width: 1024px) {
  .filtersInPaged {
   
  }
} */

@media (min-width: 1280px) {
  .filtersInPaged {
    margin-right: 20rem;
  }
}

@media (min-width: 1920px) {
  .filtersInPaged {
    margin-right: 41rem;
  }
}
