.content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);    
    color: #fff;    
}

.form {
    display: grid;
    grid-column: 3/4;
    grid-row: 1/3;    
    justify-content: space-evenly;
}

.radio {
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
}

.formButton {
    display: grid;
    grid-column: 3/4;
    grid-row: 3/6;
    margin: 5px 5px;
}