.content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);    
    color: #fff;    
}

.form {
    display: grid;
    grid-column: 3/4;
    grid-row: 1/3;    
    justify-content: space-evenly;
    gap: 1em;
    align-items: stretch;
    border:solid .2em rgb(180, 171, 165);

}

.radio {
    display: flex;
    flex-direction: column;
    padding: 7px 15px;
    /* border:solid .2em red; */
    gap: .5em;
}

.formButton {
    display: grid;
    grid-column: 3/4;
    grid-row: 3/6;
    margin: 5px 5px;
}

.formCheck {
    padding-left: .5em;
    /* border:solid .2em rgb(180, 171, 165); */
    width: 250px;
    height: 40px;
}
.formCheck > img {
    margin-right: 1em;
}