
   .rev-txt{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 50px;
   }
   

.rev-contain {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 50px;
    margin-top: 30px;
}

   .card-rev {
    width: 250px;
    background: #d1cdcd;
    overflow: hidden;
    box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 30px; 
   
     }
   
   .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 0 1rem;
   }
   
   /*Text*/
   .text-title {
    text-transform: uppercase;
    font-size: .8em;
    color: #000000;
    letter-spacing: 0.06rem;
   }
   
  