.UserFavorites-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  width: 100%;
  min-height: 100% ;
  background: #323141;
}

.UserFavorites {
  display: grid;
  margin-top: 1rem;
  justify-content: center;
}

.alertFavoritesCards{
  display: grid;
  grid-column: 1/3;
  grid-row: 1/3;

  width: 100%;
  height: 100%;
}

@media (min-width: 844px) {
  .UserFavorites-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .UserFavorites {
    display: grid;

    margin-top: 1rem;
    margin-left: 1rem;
  }
  .UserFavorites-card {
    display: grid;
    grid-auto-flow: column;
  }
}

@media (min-width: 1000px) {
  .UserFavorites-container {
    width: 100%;
  }
  
}

@media (min-width: 1600px) {
  .UserFavorites-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .alertFavoritesCards{
    display: grid;
    grid-column: 1/4;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
  }
}
