.navSection {
    margin-left: 0.3rem;
    border: solid 1px black;
    height: 90vh;
    width: 10vw;
}

.section {
    border: solid 1px red;
    height: 90vh;
    width: 88.5vw;
}

@media (max-width:1000px) {
    .userDashBoard {
        flex-direction: column-reverse !important;
        order: 2;
    }

    .datevuelta {
        flex-direction: row !important;
    }


}