.navSection {
    border: solid 1px black;
}

.section {
    border: solid 1px red;
}

@media (max-width:1000px) {
    .section{
    }

    .navSection{
        margin-bottom: 31px;
        position: fixed !important;
    }
    .userDashBoard {
        flex-direction: column-reverse !important;
        order: 2;
    }

    .datevuelta {
        flex-direction: row !important;
    }


}