@font-face {
  font-family: Nulshock;
  src: url(../utils/fonts/nulshock.otf);
}

.welcome-container {
  background: url("https://wallpapercave.com/wp/wp9335105.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%, 0 89%);
}

.welcome-texts {
  display: grid;
  grid-column: 1/3;
  grid-row: 1/2;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 5rem 0;
}

.welcome-img {
  display: none;
}

.welcome-text {
  font-family: Nulshock;
  color: #fb7849;
  font-size: 2.5rem;
  filter: drop-shadow(0 0 1px #000) drop-shadow(1px 1px 0 #000)
    drop-shadow(-1px 1px 0 #000) drop-shadow(1px -1px 0 #000);
}
